body {
  margin: 0;
  padding: 15%;
  font-family: monospace;
}

input {
  border: none;
  font-family: monospace;
  text-align: center;
  width: 100%;
}

input:focus {
  outline: none;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Diagram {
  margin: 20px;
}

.diagramRow {
  display: flex;
}

.Letter {
  display: flex;
}

.Letter.reverse {
  flex-direction: row-reverse;
}

.Cell {
  height: 30px;
  width: 30px;
}

.fill-2 {
  background: black;
}

.fill-1 {
  background: gray;
}

.fill-0 {
  background: white;
}
