body {
  margin: 0;
  padding: 15%;
  font-family: monospace;
}

input, textarea {
  border: none;
  font-family: monospace;
  text-align: center;
  resize: none;
  width: 100%;
}

input:focus, textarea:focus {
  outline: none;
}

button {
  font-family: monospace;
  margin: 2px;
}

p {
  text-align: center;
}

table {
  margin: auto;
}

.App {
  display: flex;
  justify-content: center;
}

.aboutButton {
  bottom: 10px;
  left: 10px;
  position: fixed;
}

.clickable {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.clickable:hover {
  color: gray;
}

.About {
  width: 250px;
}

.About .aboutDisplay {
  display: flex;
  justify-content: center;
}

.About .fill-0, .About .fill-1, .About .fill-2 {
  border: 1px solid gray;
}

.Trinary {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.Diagram {
  margin: 20px;
}

.diagramRow {
  display: flex;
}

.Letter {
  display: flex;
}

.Letter.reverse {
  flex-direction: row-reverse;
}

.Cell {
  height: 30px;
  width: 30px;
}

.fill-2 {
  background: black;
}

.fill-1 {
  background: gray;
}

.fill-0 {
  background: white;
}
